


    <div class="sidebar_container">

        <div class="sidebar">
            <div class="sidebar_item">
                <h2>Липень 2016</h2>

            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <h2>контактні дані</h2>
                <h6>Номер телефону: +38(063)9051594</h6>
                <h6>Email: <a href="mailto:kovalchuk.oksana2@gmail.com">kovalchuk.oksana2@gmail.com</a></h6>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->
    </div><!--close sidebar_container-->