 <h3>Contact me:</h3>
 <form>
     <h4> Your Name: <input type="text" ng-model="name" class="form-control" placeholder="Your Name:"></h4>
     <h4> Your mail: <input type="email" ng-model="mail" class="form-control" placeholder="Your mail:"></h4>
     <h4> Your message: <input type="textarea" ng-model="message" class="form-control" placeholder="Your message:"></h4>
<div class="col-md-12">
   <button ng-click="" class="btn btn-lg">RESET</button>
</div>

 </form>
 <h1>You entered:
     <textarea>{{message}}</textarea>
 </h1>
