<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->


            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul >
                <li ng-repeat="picture in $ctrl.pictures | orderBy:$ctrl.orderProp">
                    <a href="#!/pictures" class="thumb">
                        <img ng-src="{{picture.name}}" alt="{{picture.name}}" />
                    </a>
                    <a href="#!/pictures">{{picture.name}}</a>
                    <p>{{picture.napping_story}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
